@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.25o87uqmvr.bundle.scp.css';

/* _content/TasksManager/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-fky0ky6gcf] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-fky0ky6gcf] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/TasksManager/Components/Pages/MyTasks.razor.rz.scp.css */


/* Style for table headers */
[b-hsfcsc489g] th {
    background-color: #f0f0f0;
    /* font-weight: bold; */
    padding: 10px;
    /* border: 1px solid gray; */
}

/* Style for table body rows */
/* ::deep tbody {
    height: 20rem;
    overflow-y: scroll
} */
[b-hsfcsc489g] tbody tr {
    height: 5rem;
    background-color: #fff;
}
[b-hsfcsc489g] .tooltip {
    position: relative;
    display: inline-block;
}

[b-hsfcsc489g] .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 100%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

[b-hsfcsc489g] .tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

[b-hsfcsc489g] .tooltip .tooltiptext ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

[b-hsfcsc489g] .tooltip .tooltiptext ul li {
    padding: 5px;
    cursor: pointer;
}

[b-hsfcsc489g] .tooltip .tooltiptext ul li:hover {
    background-color: #555;
}


/* ::deep tbody tr:nth-child(even) {
    background-color: #f9f9f9;
} */
