@page "/forgotPassword"

<div class="w-screen h-screen flex justify-center items-center">
    <div class=" w-[60%] sm:w-[50%] md:w-[40%] lg:w-[28%] rounded-[0.8rem] px-4 py-8 border border-gray-300 font-serif">
        <h2 class=" text-2xl text-[#5577FF] font-semibold text-center">Forgot Password?</h2>
        <form action="#" method="post" class="relative flex flex-col gap-3 mt-10">
            <div class="flex flex-col gap-4">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="outline-none border py-1 px-3 rounded-lg"
                    required />
            </div>

            <button class="bg-[#5577FF] text-[1rem] text-white py-2 mt-1 w-[100%] rounded-lg" onclick="gotohome()"
                type="submit">
                Recover Password
            </button>
        </form>
    </div>
</div>