@page "/"

<PageTitle>Home</PageTitle>
<main>
    <div class="bg-[#D0D5DD] w-screen h-screen flex items-center gap-3">
        <SideBar />
        <div class=" w-[75%] h-screen">
           <h1 class="text-red-500 head" >Hello, home!</h1>
            <p class="text-blue-500 text-3xl" >the blue color</p>
            <h2 class="text-white">Header</h2> 
        </div>
        
    </div>
    
</main>

