@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-red-500 head" >Hello, Great!</h1>
<p class="text-blue-500 text-3xl" >the blue color</p>
<h2 class="text-white">Header</h2>

Welcome to your new app.
