@rendermode RenderMode.InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>
<main>
    <div class="bg-[#dadde2] w-screen h-screen pr-4 flex gap-3">
        <SideBar OnStateChanged="HandleStateChange" />
        <main class="bg-[#f6f5f5] h-[96Vh] my-[2vh] px-3 w-screen rounded-[2rem]">
            <Header />
            
        </main>


    </div>

</main>

@code {
    private bool Minimize { get; set; }
    private bool ShowSearchBox { get; set; }
    public string CurrentDate = DateTime.Now.ToString("dddd, MMMM d");


    private void HandleStateChange(bool state)
    {
        Minimize = state;
        StateHasChanged();
    }
}