

/* Style for table headers */
::deep th {
    background-color: #f0f0f0;
    /* font-weight: bold; */
    padding: 10px;
    /* border: 1px solid gray; */
}

/* Style for table body rows */
/* ::deep tbody {
    height: 20rem;
    overflow-y: scroll
} */
::deep tbody tr {
    height: 5rem;
    background-color: #fff;
}
::deep .tooltip {
    position: relative;
    display: inline-block;
}

::deep .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 100%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

::deep .tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

::deep .tooltip .tooltiptext ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

::deep .tooltip .tooltiptext ul li {
    padding: 5px;
    cursor: pointer;
}

::deep .tooltip .tooltiptext ul li:hover {
    background-color: #555;
}


/* ::deep tbody tr:nth-child(even) {
    background-color: #f9f9f9;
} */