@rendermode RenderMode.InteractiveServer
@using System.Diagnostics

<div class="bg-black text-white text-center mt-2 mb-[5rem] sm:mb-4 md:mb-0 h-[12rem] rounded-3xl py-4">
    <div class=" flex flex-col gap-4">
        <h2 class="font-bold text-xl font-serif">Time Tracker</h2>

        <div class=" text-xl flex items-center justify-center gap-3">
            <div class="flex ">
                <div class=" flex flex-col items-center font-mono">
                    <p class=" font-semibold text-2xl">@($"{Hours:D2}")</p>
                    <p class="text-sm text-center">Hours</p>
                </div>
                <span class="text-center ml-3">:</span>
            </div>

            <div class="flex ">
                <div class=" flex flex-col items-center font-mono">
                    <p class=" font-semibold text-2xl">@($"{Minutes:D2}")</p>
                    <p class="text-sm text-center">Minutes</p>
                </div>
                <span class="text-center ml-3">:</span>
            </div>


            <div class=" flex flex-col items-center font-mono">
                <p class=" font-semibold text-2xl">@($"{Seconds:D2}")</p>
                <p class="text-sm text-center">Seconds</p>
            </div>

        </div>

        <div class=" flex items-center justify-center gap-4">
            @if (!IsRunning)
            {
                 @* ------------- START ------------ *@
                <button class=" bg-green-600 text-white p-3 rounded-full cursor-pointer" @onclick="StartStopWatch">
                    <svg class="w-4" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M5 16L7 16L15 8L7 -2.7818e-08L5 0L5 16Z" fill="#fff"></path>
                        </g>
                    </svg>
                </button>
            }
            else
            {
                 @* ------------- STOP ------------ *@
                <button class=" bg-red-600 text-white p-3 rounded-full cursor-pointer" @onclick="EndStopWatch">
                    <div class="w-4 h-4 rounded-sm bg-white"></div>
                </button>

                @* ------------- RESET ------------ *@
                <button class=" bg-orange-600 text-white p-3 rounded-full cursor-pointer" @onclick="ResetStopWatch">
                    <svg class="w-4" viewBox="0 0 24.00 24.00" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                            stroke-width="0.048"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g clip-path="url(#clip0_429_11071)">
                                <path
                                    d="M12 2.99982C16.9706 2.99982 21 7.02925 21 11.9998C21 16.9704 16.9706 20.9998 12 20.9998C7.02944 20.9998 3 16.9704 3 11.9998C3 9.17255 4.30367 6.64977 6.34267 4.99982"
                                    stroke="#fff" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3 4.49982H7V8.49982" stroke="#fff" stroke-width="2.4" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_429_11071">
                                    <rect width="24" height="24" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </g>
                    </svg>
                </button>
            }
           

           
        </div>
    </div>

</div>

@code {

    private bool IsRunning = false;
    private Stopwatch stopwatch = new();
    private int Seconds => stopwatch.Elapsed.Seconds;
    private int Minutes => stopwatch.Elapsed.Minutes;
    private int Hours => stopwatch.Elapsed.Hours;

    private async Task StartStopWatch() 
    {
        if(!IsRunning) 
        {
            IsRunning = true;
            stopwatch.Start();

            while(IsRunning) 
            {
                StateHasChanged(); // Refresh UI
                await Task.Delay(100); // Update every 100ms
            }

        }
       
    }

    private void EndStopWatch()
    {
        if (IsRunning)
        {
            stopwatch.Stop();
            IsRunning = false;
        }
    }

    private void ResetStopWatch()
    {
        if (IsRunning)
        {
            stopwatch.Reset();
            IsRunning = false;
        }
    }
}